# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl

# IDE files
.idea/
.vscode/

# API keys and secrets
*.pem
*.key